

/*Navigation bar*/
.navbar{
	padding:0;
	
}
 .navbar-brand{
	 margin:10px;
	 padding:0;
}
.navbar-brand img{
	margin-left:4.5px;
	max-height:100%
}

.nav-item{
	margin-right:75px;
}




/*Drop down*/
.dropdown-submenu {
  position: relative;
 
}

.dropdown-submenu a::after {
  transform: rotate(-90deg);
  position: absolute;
  right: 6px;
  top: .8em;
}

.dropdown-submenu .dropdown-menu {
  top: 0;
  left: -64%;
  margin-left: .1rem;
  margin-right: .1rem;
  color:#FFF;
}

/*--end--*/




/*4 Cards*/
#thisCard{
	
	margin-bottom:30px;
}

#thisCard .card-body{
	padding:0; background-color:#007bff; color:#fff;
}

#thisCard .card-body h5{
	margin-top:15px;	
}

/*--end--*/


/*Footer*/

footer {
background-color: #007BFF;
color: #FFF;
margin-top: 3em;
}
footer h5,
footer img {

font-weight: bold;
}
footer address {
margin-bottom: 5em;
color: #fff;
}
footer ul {
margin-bottom: 5em;
}
footer address strong {
color: #fff;
display: block;
padding-bottom: 0.62em;
}
footer a {
font-weight: 300;
color: #fff;
}
footer a:hover {
text-decoration: none;
color: #000;
}


/*--end--*/























