* {
    font-family: sans-serif;
    
}

.error{
  color:#ff0000;
  margin-left: 5px;
  font-stretch:semi-condensed;
}

.error > #genErr{
  margin-left: 97px !important;  
}

.header {
  
  margin-left:auto;
  margin-right:auto;
  text-align: center;
  color: #ec2526;

}

.header > img{
 
  width:50px;
  height:50px;
}

.container {
    
    margin:auto;
    width: 506px;
    height: auto;
    background: #dddddd;
    overflow: auto;
    font-size:12px;
  }

.input {
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 10px;
}

form {
  margin: 15px 0px 15px 15px;
}

#fname {
  border-radius: 4px;
  margin-left: 51px;
  width: 220px;
  height: 20px;
  border: none;
}

#mail {
    border-radius: 4px;
    margin-left: 49px;
    width: 220px;
    height: 20px;
    border: none;
  }

#color,#color2 {
  border-radius: 4px;
  margin-left: 49px;
  width: 221px;
  height: 22px;
  border: none;
}

#desgtitle {
  border-radius: 4px;
  margin-left: 19px;
  width: 220px;
  height: 20px;
  border: none;
}

#male {
  margin-left: 46px;
}

#female {
  margin-left: 20px;
}

#camp {
  margin-left: 10px;
    
}

#datepick {
  border-radius: 4px;
  margin-left: 15px;
  width: 178px;
  height: 20px;
  border: none;
}

form > button {
  background-color: #ec2526;
  color: #ffffff;
  border: none;
  padding: 7px 42px;
  display: block;
  border-radius: 4px;
  margin-left:auto;
  margin-right:auto;
  margin-top:20px;
  font-size:11px ;
}

.output > table{
  width:250px;

}

.output > h3{
 
  color:green;
}

@media screen and (max-width: 768px) {
  #primary {
     width:100%;
    }
  .error {
    display : inline-block;
    margin-left: 93px;
    margin-top: 5px;
  }
}
