*{
	box-sizing:border-box  !important;
}

body{
	margin:0px;
	padding:0;
}

.header{
	display:flex;
	width:100%;
	height:45px;
	background:#223344;
	color:#eee;
}

.logo{
	width:100%;
	height:100%;
	margin-top:15px;
	font-family:sans-serif;
	text-align:center;
}
.container{
	display:flex;
	width:100%;
	height:100vh;
}

.sidebar{
	width:200px;
	height:100%;
	background:#000;
	color:#fff;
}

.navbar, .dropdown-content{
	display:block;
	padding:0;
	width:100%;
	margin:0;
}

.navbar li{
	width:100%;
	height:auto;
}

.navbar li> a{
	display:block;
	width:100%;
	padding:10px 15px;
}
.navbar li> a, .dropdown-content li a{
	color:#eee;
	text-decoration:none;
}
.dropdown-content{
	display:none;
}

.dropdown:hover .dropdown-content{
	margin-left:10px;
	display:block;
}
.dropdown-content li:hover{
	background:rgba(255,255,255,0.3);
}
.content-box{
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	width:240px;
	height:auto;
	border:1px solid #29323c;
	padding:20px;
	box-sizing:border-box;
	background:#29323c;
}

.content{
	display:block;
	width:100%;
	box-sizing:border-box;
	font-family:sans-serif;
	color:#ffffff;
	padding:10px;
}

.item{
	display:block;
	padding:5px;
	margin:5px;
}

.content h2{
	text-align:center;
	margin:0;
}

.shop{
	display:block;
	padding:5px;
	margin:5px;
}

.delivery{
	display:block;
	padding:5px;
	margin:5px;
}
