body{
padding: 0px;
margin: 0px;
background-repeat:no-repeat;
background-color:#7FFFD4;
}
.session{
	width:500px;
	height:50px;
	font-weight:bold;
	font-size:32px;
	margin-left:600px;
}
.header {
  height: 70px;
  padding: 5px; 
  text-align: left; 
  color:white;
  
}

.header p {
	margin:0;
	margin-left:12px;
  font-size: 50px;
  color: #000;
  width: 50%;
  
}
.navbar {
  height:50px;
  background-repeat:no-repeat;
  background-color:#7FFFD4;
  
  
}

.navbar a {
font-weight:bold;
  float: left; 
  display: block;
  color: #FF9900;
  text-align: center;  
  padding: 14px 20px; 
  text-decoration: none; 
}

.navbar a.right {
  float: right;
}
.navbar a.cart{
width:60px;
height:50px;	
float:right;
margin:0;
}

.navbar a:hover {
  background-color: #ddd;
  color: black; 
}
* {
	font-family:sans-serif;
  box-sizing: border-box;
}


.row {
  width:100%; 
  display: flex;
  flex-wrap: wrap;
}

.side {
  flex: 15%;
     }

.main { 
  flex: 100%;
  background-color: white;
  margin:0px;  
}
.footer {
  padding: 20px;
  text-align: center; 
  background-repeat:no-repeat;
  background-size:1500px;
  background-color:#76EEC6;
  
}
.footer a{
	display:block;
}
.footer ul{
	list-style-type:none;
}

.picture1 img{
  height:130px;
  width:138px;
  box-sizing: border-box;
}

.picture1{
  padding:10px;
  border-bottom:1px solid rgba(0,0,0,0.1);
}

.picture1:hover{
  box-shadow:0px -2px 5px #000;
}

.scrollbar{
  height:100%;
  width:100%;
  background: #fff;
  margin-top:0px;
  padding-left:0px;
  overflow-y:scroll;
  margin: 0px;
}

.scrollbar li{
  padding: 2px;
}

.side ul{
  margin: 0px;
}
  
.logo{
  height: 120px;
  width: 120px;
  float: left;
}

.image{
  height:200px;
  width:162px;
  border:1px  rgba(0,0,0,0.1);
  float:left;
  margin-right:5px;
  background-color:#fff;
}

.description{
  text-align: center;
}
	
.image:hover{
  box-shadow:0px -2px 5px #000;
}

.dropdown{
	position:relative;
	box-sizing:border-box;
	}

.dropdown-btn{
	background:transparent;
	color:#fff;
	border:none;
	cursor:pointer;
	box-sizing:border-box;
	
}

.dropdown-content{
	display:none;
	width:250px;
	height:auto;
	background:rgba(255,255,255,0.8);
	color:#000;
	position:absolute;
	z-index:1;
	top:50px;
}

.dropdown-content a{
	width:100%;
	display:block;
	color:#000;
	text-align:left;
	
}

.dropdown:hover .dropdown-content{
	display:block;
}

.dropdown:hover{
	background-color: #ddd;
}

.submenu{
	position:relative;
	
}

.submenu-content{
	position:absolute;
	display:none;
	left:250px;
	width:200px;
	height:auto;
	background:rgba(221,221,221,0.9);
	color:#000;
	z-index:1001;
	
}

.submenu:hover .submenu-content{
	display:block;
}

.submenu-content a{
	text-align:left;
}
.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}
.advert img{
	width:1366px;
	height:250px;
}
