.header {
	height: 130px;
	
  padding: 5px; 
  text-align: center; 
  background: #1abc9c; 
  color: white; 
}

.header h1 {
  font-size: 50px;
  
}
.navbar {
  overflow: hidden;
  background-color: #333;
}


.navbar a {
  float: left; 
  display: block; 
  color: white;
  text-align: center;  
  padding: 14px 20px; 
  text-decoration: none; 
}


.navbar a.right {
  float: right;
}
.navbar a.cart{
float:right;
}

.navbar a:hover {
  background-color: #ddd;
  color: black; 
}

* {
  box-sizing: border-box;
}


.row { 
  display: flex;
  flex-wrap: wrap;
}


.side {
  flex: 30%; 
  background-color: #f1f1f1; 
  padding: 20px; 
  }


.main { 
  flex: 70%; 
  background-color: white; 
  padding: 20px; 
  }
  .footer {
  padding: 20px;
  text-align: center; 
  background: #ddd;
  position: relative;
  bottom: 0;
}