body{
	font-family:sans-serif;
	background:#7FFFD4;
	color:#ffffff;
}
.container{
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	width:240px;
	height:auto;
	border:1px solid #29323c;
	padding:20px;
	box-sizing:border-box;
	background:#29323c;
}
.header{
	text-align:center;
	font-size:24px;
	font-style:bold;
}
.input{
	display:block;
	width:100%;
	box-sizing:border-box;

}
.input label{
	display:block;
	width:100%;
	margin-bottom:10px;
	font-size:14px;
}
.input input{
	width:100%;
    margin-bottom:20px;
	padding:5px 10px 5px 10px;
	box-sizing:border-box;
	
}
.container > input{
	width:100%;
	padding:5px 10px 5px 10px;
	text-transform:uppercase;
	background:#485563;
	color:#ffffff;
	cursor:pointer;
	border:none;
	box-sizing:border-box;
}
.container > input:hover{
	background-color:#29323c;
	border:1px solid #ffffff;
	box-sizing:border-box;
}
.register{
	margin-left:29px;
	font-size:15px;
}


.register:hover{
	color:red;
}
