body{
	background:#7FFFD4;
	color:#ffffff;
	font-family:sans-serif;
}
.container{
	width:350px;
	position:absolute;
	top:50%;
	left:50%;
	border:1px solid #29323c;
	transform:translate(-50%,-50%);
	height:auto;
	padding:20px 20px 20px 10px;
	box-sizing:border-box;
	background:#29323c;
}
.page{
	text-align:center;
	font-style:bold;
	font-size:24px;
	
}
.input{
	display:block;
	width:100%;
	box-sizing:border-box;
	margin-bottom:10px;
}
.input label{
	display:block;
	width:100%;
	margin-bottom:10px;
}
.input input{
	width:100%;
	padding:5px 10px 5px 10px;
	box-sizing:border-box;
}
.radio{
	display:block;
	margin-top:10px;
}	
.container > input{
	width:100%;
	padding:5px 10px 5px 10px;
	text-transform:uppercase;
	background:#485563;
	color:#ffffff;
	cursor:pointer;
	margin-top:20px;
	border:none;
	box-sizing:border-box;
}
.container > input:hover{
	background:#29323c;
	border:1px solid #ffffff;
	box-sizing:border-box;
}
.
	